#menuIcon
{
    padding-right: 5px;
}

.navbar {
    a {
        font-size : 1.5em;
    }   

    #loginDiv {
        float : right;
        text-align: center;
    }

    #loginBtn {
        margin-right: 5px;
    }
}